[submodule "external/vcpkg"]
	path = externel/vcpkg
	url = https://github.com/microsoft/vcpkg
[submodule "external/vcglib"]
	path = externel/vcglib
	url = https://github.com/cnr-isti-vclab/vcglib
[submodule "external/GTE"]
	path = external/GTE
	url = https://github.com/davideberly/GeometricTools
