[submodule "external/vcpkg"]
	path = external/vcpkg
	url = https://github.com/microsoft/vcpkg
[submodule "external/vcglib"]
	path = external/vcglib
	url = https://github.com/cnr-isti-vclab/vcglib
[submodule "external/GTE"]
	path = external/GTE
	url = https://github.com/davideberly/GeometricTools

[submodule "NDC"]
	path = NDC
	url = https://github.com/czq142857/NDC
